* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 24px;
    width: 100%;
    padding: 0 20px;
    z-index: 1000;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

.logo,
.menu a {
  color: #fafafa;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color:  rgb(1, 14, 249);
}

.logo {
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 18px;
}

main {
    position: relative;
    height: calc(100vh - 24px);
}

.page-section {
    height: 100%;
}

.page-section.active {
    display: flex;
    align-items: center;
    height: 110%;
}
/* wrapper con altura extra: esa altura de más
   es la "distancia" que dura la animación */

.home-wrap {
    position:relative;
    height: 200vh;
   }

#home {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.home-video {
    position: absolute;
    inset:0;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    z-index: 0;
    margin-top: 40px;
}

#home .carrouselv{
    position: relative;
    z-index: 1;
}

.carrousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    gap: .1em;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}

.group img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    height: 300px;
    width: 300px;
    padding: 1em;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.about2 {
  position: relative;
  z-index: 1;
  background-color: rgb(1, 14, 249);
  width: 100%;
  min-width: 100%;
  min-height: 130vh;
}

.about2-layout {
  position: relative;
  width: 100%;
  min-height: inherit;
  padding: 60px 24px; 
}

.about2-photo {
  position: absolute;
  transform: translate(216px, 130px);
  z-index: 1;
  width: clamp(140px, 30vw, 236px);
}

.about2-photo img {
  width: 100%;
  aspect-ratio: 236 / 320;
  object-fit: cover;
  display: block;
}

@media (max-width: 600px) {
  .about2-photo {
    transform: translate(10vw, 15vh);
  }
}

.about2-caption {
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
  color: #fafafa;
  text-align: justify ;
}

.about2-caption--top { margin-bottom: 10px; letter-spacing: 0px;}
.about2-caption--bottom { margin-top: 10px; letter-spacing: -0.3px;}

.about2-photo--right {
  position: absolute;
  right: 0;
  transform: translate(-216px, 280px);
  z-index: 1;
  width: clamp(140px, 30vw, 236px);
}

.about2-photo--right img {
  width: 100%;
  aspect-ratio: 236 / 320;
  object-fit: cover;
  display: block;
}

@media (max-width: 600px) {
  .about2-photo--right {
    transform: translate(-10vw, 15vh);
  }
}